<div class="modal fade" id="modal-edit-task" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-edit-task-title" data-bind="text: title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="txtCreateTaskTitle" autocomplete="off"
                                   placeholder="Title" data-bind="{value: title , event:{change: handleChangeEditTask} }" />
                            <label for="txtCreateTaskTitle">Task title</label>
                        </div>

                        <div class="mb-3">
                            <label>Description</label>
                            <textarea class="form-control" rows="4"
                                      data-bind="{value: description , event:{change: handleChangeEditTask}}">
                    </textarea>
                        </div>

                        <div class="mb-3">
                            <div class="form-priority">
                                <div class="form-priority-title">
                                    <label class="form-field-title">Priority:</label>
                                </div>
                                <div >

                                    <input type="radio" name="mpriority" data-bind="click:handlePriorityChange, checked: priority" value='Low'>

                                    <label for="priority-low" class="priority low">Low</label>

                                    <input type="radio" name="mpriority" value="Medium" data-bind="checked: priority ,click:handlePriorityChange ">

                                    <label for="priority-Medium" class="priority medium">Medium</label>

                                    <input type="radio" name="mpriority" value="High" data-bind="checked: priority,click:handlePriorityChange">

                                    <label for="priority-High" class="priority high">High</label>

                                </div>

                            </div>
                    </div>

                    <div class="mb-3 ">
                        <partial name="_Steps"></partial>
                    </div>

                    <div class="mb-3 ">
                        <partial name="_Files"></partial>
                    </div>
                    </div>

                <div class="col-lg-3">
                    <button class="btn btn-danger mb-2 w-100 text-start" data-bind="{click: tryToDeleteTask}">
                        <i class="bi bi-trash"></i>
                        Delete Task
                    </button>
                </div>
            </div>


        </div>
    </div>

</div>
</div>

