<div class=" modal-sub-section" >
    <label>
        <i class="bi-check-square bi"></i>
        Steps
    </label>
    <button class="btn btn-secondary btn-sm m-1" onclick="handleClickAddStep()">
        <i class="bi bi-plus"></i> Add new step
    </button>
</div>


<div id="resortable-steps" data-bind="foreach: steps" style="cursor:move">
    <div class="mt-2" style="cursor:move">
        <div class="row">
            <div class="col-1">
                <input type="checkbox" class="form-check-input" name="chxStep"
                       data-bind="click: handleCheckboxStep,
                                checked: isCompleted,
                                   attr:{'data-id': id}" />
            </div>
            <div class="col-11">
                <span style="cursor: pointer" data-bind="text: description,
                                click: handleDescriptionStep,
                                hidden: editingMode,
                                css:{'text-decoration-line-through':isCompleted}"></span>
                <textarea name="txtStepDescription" class="form-control"
                          placeholder="Add a description" data-bind="{value: description, visible: editingMode}"></textarea>
                <div class="mt-2" data-bind="{visible: editingMode}">
                    <button class="btn btn-success" data-bind="{click: handleSaveStep}">
                        Save
                    </button>
                    <button class="btn btn-secondary" data-bind="{click: handleCancelSaveStep}">
                        Cancel
                    </button>
                    <button class="btn btn-danger " data-bind="{hidden: isNew, click: handleClickDeleteStep}">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>