@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Localizer["Welcome"]</h1>
    <p>@Localizer["Learn-More"]</p>

</div>

<div>
    <h3>@ViewBag.Greetings</h3>
</div>

<button onclick="showError()">
    Mostrar
</button>

@section Scripts{
    <script src="~/js/utilities.js"></script>
}