@model LoginViewModel
@{
    ViewData["Title"] = "Log in";
    var pass = "Aa123456@";
}

<div class="card">
    <div class="card-body">
        <h1>Login</h1>
        <h6 style="color: darkgray">You can use the prefilled ones to test the app, just hit log in!</h6>
        @if (ViewData.Keys.Contains("Message"))
        {
            <p class="text-danger">@ViewData["Message"]</p>
        }
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger">
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input type="email" asp-for="Email" class="form-control" value="user1@email.com"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input type="password" asp-for="Password" class="form-control" value="@pass"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" asp-for="RememberMe" />
                <label asp-for="RememberMe" class="form-label"></label>
            </div>



            <button type="submit" class="btn-primary btn">Log in</button>
            <a class="btn-success btn" asp-action="Register">Create new account</a>

        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}