html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


body {
    background: url("https://img.freepik.com/free-vector/white-abstract-background_23-2148810113.jpg?w=996&t=st=1666557781~exp=1666558381~hmac=9e04cfed668b64d1d0c8ef7dd362012318477ccc58cde0347e8ab88c2991de28") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

[name=task]:hover {
    background-color: lightgray
}

.form-priority {
    display: flex;
}

.form-priority-title {
    width: 60px;
}

.priority {
    border: 1px solid;
    padding: 5px;
    border-radius: 2px;
}

.low {
    color: #03721a;
    border-color: #03721a;
}

    .low:hover {
        color: #ffffff;
        background-color: #03721a;
        border-color: #03721a;
    }

.medium {
    color: #af8a06;
    border-color: #af8a06;
}

    .medium:hover {
        color: #ffffff;
        background-color: #af8a06;
    }

.high:hover {
    color: #ffffff;
    background-color: #e94e4e;
}

input[type="radio"] {
    /*display: none;*/
}


    input[type="radio"]:checked + label.high {
        background-color: #e94e4e;
        color: #ffffff;
    }

    input[type="radio"]:checked + label.low {
        color: #ffffff;
        background-color: #03721a;
        border-color: #03721a;
    }

    input[type="radio"]:checked + label.medium {
        color: #ffffff;
        background-color: #af8a06;
    }



.high {
    color: #e94e4e;
    border-color: #e94e4e;
}

.task {
    border: 1px solid rgb(221, 220, 220);
    background-color: #e1e3e4;
    width: 95%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    border-radius: 2px;
    margin-top: 5px;
}


    .task:hover {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

.High {
    border-left: 5px solid red;
}

.Low {
    border-left: 5px solid rgb(3, 112, 16);
}

.Medium {
    border-left: 5px solid rgb(219, 131, 8);
}

.modal-sub-section {
    color: black;
    background-color: lightgray;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center
}

.logo {
    width: 60px;
    height: auto;
}

.img-main {
    width: 200px
}

.logo-container {
    width: 25rem;
    background-color: white;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #e4e4e4;
    border-radius: 10px
}

.app-container {
    background-color: white;
    border: 1px solid #e4e4e4;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
